html, body{
    height: 100%;
    background-image: url("./Images/background.jpg");
    font-family: sans-serif;
    background-size: cover;
  }
  
  .main{
    width: 400px;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
  }

  h1{
    text-align: center;
    color: #fff;
  }

  h2{
    text-align: left;
    color: #fff;
  }

  form{
    width: 400px;
    padding: 4px;
    margin-top: 20px;
    align-items: left;
    display: flex;
    justify-self: center;
    flex-direction: column;
    list-style: none;
    color: #fff;
    position: relative;
  }

  input[type="text"]{
    text-align: center;
    width: 410px;
    padding: 4px;
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1.5em;
    background: #fff;
    color: #000000;
  }

  form .myCheckbox {
    color: #d31515;
    position: absolute;
    left: 0%;
  }

  form .myCheckbox:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }

  .fas {
    color: #ffffff;
    position: absolute;
    right: 0%;
  }

  .fas:hover{
    color: rgb(148, 16, 16);
  }

  #deleteButton{
    display: none;
  }
  
