html, body{
    height: 100%;
    background-image: url("./Images/background.jpg");
    font-family: sans-serif;
    background-size: cover;
  }
  
  .main{
    width: 402px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    display: block;
  }

  h1{
    text-align: center;
    color: #fff;
  }

  h2{
    text-align: left;
    color: #fff;
  }

  .action {
    display: block;
    margin-top: 30px;
  }


  #Task{
    text-align: left;
    font-family: sans-serif;
    line-height: 50%;
  }

  form{
    background-color: #fff;
    padding: 15px;
  }

  #NewTask[type="text"]{
    width: 400px;
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1.5em;
    background: #fff;
    color: #000000;
  }

  a:hover{
    opacity: 80%;
  }

  .fas {
    color: #830a0a;
    float: right;
  }

  .fas:hover{
    opacity: 60%;
  }

  #deleteButton{
    display: none;
  }

  .checkbox {
    text-align: left;
    color: #000000;
  }
  
  .checkbox:checked + .NewTask {
    text-decoration: line-through;
  }
  
  #checkbox {
    display: none;
  }
  
  @media (max-width: 500px) {
    .main {
      margin: auto;
      width: 100%;
    }
    input[type="text"] {
      width: 80%;
    }
    button {
      width: 10%;
    }
  }